<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/ng")
    @Scripts.Render("~/scripts")
    @Scripts.Render("~/app")
    @Styles.Render("~/styles")
    @*@Scripts.Render("~/misc")*@

</body>
</html>
